{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="post">

    <img src="/images/logo.svg" alt="Logo">

    {% include "_partials/flash.njk" %}

    <input type="email" name="email" placeholder="E-mail" />
    <input type="password" name="password" placeholder="Senha" />

    <button type="submit">Entrar</button>

    <a href="/singup">Criar conta</a>
  </form>
{% endblock %}