{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Olá, {{ user.name }}</strong>
    <p>Consulte os seus agendamentos</p>

    <input type="text" class="flatpickr" placeholder="Escolha uma data" />

    <div id="schedule"></div>

    <a href="/app/logout" class="logout">Sair</a>
  </div>

  <script type="text/javascript">
    flatpickr('.flatpickr', {
      minDate: new Date(),
      dateFormat: 'd/m/Y',
      onChange: function(date){
        fetch(`/app/dashboard/provider?date=${date[0].getTime()}`)
          .then(function(response){
            response.text().then(function(html){
              document.getElementById('schedule').innerHTML = html
            })
          })
      }
    })
  </script>
{% endblock %}